html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    width: 100%;
    display: flex;
    /*height: 659px;*/
    background-image: url(../images/granja_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-flow: row wrap;
    justify-content: left;
}

.controlsContainer {
    min-width: 200px;
    width: 25%;
    display: flex;
    flex-flow: column wrap;
}

.controlCont {
    width: 80%;
    min-width: 150px;
    margin: 1em auto;
    background: rgba(0,0,0,0.65);
    text-align: center;
    padding: 15px;
}

.controlCont h2 {
    color: #73BF00;
    margin: 0;
}

.controlCont p {
    color: #EF551F;
    font-weight: 600;
    text-align: left;
}

.animalsContainer {
    width: 70%;
}

.animalCardContainer{
    width: 28%;
    margin-left: 2%;
    height: 300px;
    background: rgba(0,0,0,0.65);
    margin-top: 10px;
    display: block;
    min-width: 180px;
    float: left;
    padding: 15px;
}

.animalCardContainer h3 {
    color: #F2AB27;
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.animalCardContainer p {
    color: #02C7F4;
    text-align: center;
    font-size: 18px;
}

.nombreAnimal {
    color: #000;
    font-family: verdana;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 10px;
    height: 20px;
}

.animalCardContainer div{
    width: 130px;
    height: 120px;
    margin: 1.5em auto 2em;
    background-repeat: no-repeat;
}

/*Animales*/
.caballo {
    background: url(../images/animales/caballo.png);
}

.cerdo {
    background: url(../images/animales/cerdo.png);
}

.gallina {
    background: url(../images/animales/gallina.png);
}

.gato {
    background: url(../images/animales/gato.png);
}

.pato {
    background: url(../images/animales/pato.png);
}

.perro {
    background: url(../images/animales/perro.png);
}

.vaca {
    background: url(../images/animales/vaca.png);
}

/*PopUps*/
.popupContainer {
    position: absolute;
    display: block;
    z-index: 100000001;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    background-color: rgba(0,0,0,0.82);
}

.ocultarPopUp{
    display: none;
}